
<h2>Streams</h2>
	<ul>
		<li>
			<%= link_to "Global", shouts_path %>
		</li>
		<li>
			<%= link_to "Following", shouts_path(:from => "following") %>
		</li>
 	</ul>
<%= link_to "Log out", sessions_destroy_path %>
<br><%= current_user.username if logged_in? %> is logged in